[Unit]
Description=2048 GAME
After=docker.service

[Service]
Type=simple
WorkingDirectory=/tmp
ExecStart=/bin/docker run -d --name 2048-game -p 8081:8081 {{ docker_image_name }}:{{ docker_image_tag }}
ExecStop=/bin/docker stop 2048-game
ExecReload=/bin/docker stop 2048-game && /bin/docker start 2048-game
User=root
SyslogIdentifier=2048
RemainAfterExit=true


[Install]
WantedBy=multi-user.target