global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

# Определение defaults
defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5000
    timeout client 50000
    timeout server 50000

# Настройка frontend
frontend http_front
    bind *:81
    stats uri /haproxy?stats
    default_backend http_back

# Настройка backend
backend http_back
    balance roundrobin
    {% for ip_address in ip_addresses %}
    server app{{ loop.index }} {{ ip_address }}:8081 check
    {% endfor %}
